@import "tailwindcss";
@import "./styles/theme.css";
@import "./styles/divider.css";
@import "./styles/tooltip.css";
@import "./styles/toast.css";
@import "./styles/ImageIconAnimations.css";

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  max-width: 100%;
}

section {
  max-width: 100vw;
}

/* Font family */
@font-face {
  font-family: "Londrina";
  src: url("/fonts/LondrinaSolid-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Londrina";
  src: url("/fonts/LondrinaSolid-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Londrina";
  src: url("/fonts/LondrinaSolid-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Londrina";
  src: url("/fonts/LondrinaSolid-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.navbar {
  left: 0;
  right: 0;
  width: 100vw;
}

.navbar-scroll.navbar-scrolled {
  background: rgba(51, 111, 163, 0.8); /* same #336fa3 with 45% opacity */
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  transition: background 0.3s ease-in-out;
}

/* When mobile menu is OPEN, force original SOLID style */
.navbar-scroll.mobile-open {
  background: var(
    --color-bg-navbarAndFooter
  ) !important; /* original theme color */
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
  transition: none !important;
}
